<!-- Launches the full robot system, configured for the equipment servicing URC task. -->
<launch>
  <env name="WROVER_MODE" value="EQ_SERVICE"/>

  <include file="$(find wr_entry_point)/launch/comp/comp_init.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_proprioception.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_roboclaw.launch">
    <arg name="use_encoders" value="true"/>
  </include>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_ds_control.launch"/>
  <include file="$(find wr_entry_point)/launch/comp/comp_ds_teleop.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_ui.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_arm.launch">
</launch>
