<!-- Launches the full robot system, configured for the URC extreme retrieval and delivery mission. -->
<launch>
  <env name="WROVER_MODE" value="ERDM"/>

  <include file="$(find wr_entry_point)/launch/comp/init.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/proprioception.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/roboclaw.launch">
    <arg name="use_encoders" value="true"/>
  </include>
  
  <include file="$(find wr_entry_point)/launch/comp/ds_control.launch"/>
  <include file="$(find wr_entry_point)/launch/comp/ds_teleop.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/ui.launch"/>
  
  <!-- TODO: arm control system -->
</launch>
