<!-- Launches the teleop system for freefall system -->
<!-- Launches the full robot system, configured for the URC extreme retrieval and delivery mission. -->
<launch>
  <include file="$(find wr_entry_point)/launch/comp/comp_init.launch" />

  <include file="$(find wr_hsi_roboclaw)/launch/roboclaw_freefall.launch"/>
  
  <include file="$(find wr_control_drive_ds)/launch/freefall.launch"/>

  <include file="$(find wr_entry_point)/launch/comp/comp_ds_teleop.launch" />
  
</launch>