<!-- Launches the teleop system for freefall system -->
<launch>
  <env name="WROVER_MODE" value="ERDM" />

  <!-- <include file="$(find wr_entry_point)/launch/comp/comp_init.launch" /> -->

  <include file="$(find wr_hsi_roboclaw)/launch/roboclaw_freefall.launch"/>
  
  <include file="$(find wr_control_drive_ds)/launch/freefall.launch"/>

  <include file="$(find wr_entry_point)/launch/comp/comp_ds_control.launch" />
  <include file="$(find wr_entry_point)/launch/comp/comp_ds_teleop.launch" />

  <include file="$(find wr_entry_point)/launch/comp/comp_ui.launch" />

</launch>