<!-- Launches the full robot system, configured for the URC extreme retrieval and delivery mission. -->
<launch>

  <include file="$(find wr_hsi_roboclaw)/launch/roboclaw_freefall.launch"/>
  
  <include file="$(find wr_control_drive_ds)/launch/freefall.launch"/>
  
  <include file="$(find sick_scan)/launch/sick_tim_7xx.launch">
    <arg name="hostname" value="192.169.0.10" />
  </include>
  
  <include file="$(find wr_logic_ai)/launch/freefall.launch"/>
</launch>
