# ros build output
build/
devel/

# python env
/venv/

# ide
/.vscode/*
# except recommended extensions
!/.vscode/extensions.json

# fetched external libs
# NOTE: these may be removed in the future, tbd
src/InertialSenseSDK
src/sick_scan
src/wreadinput
src/wready
src/wroboclaw
src/wrosout
src/wresponsecontrol

# external lib destination dirs
src/drive/lib
src/manager/lib
src/science/lib
src/arm/lib


*.pyc
src/arm/lib
compile_commands.json
.cache
