[submodule "src/wroboclaw"]
	path = src/wroboclaw
	url = git@github.com:WisconsinRobotics/wroboclaw.git
[submodule "src/wreadinput"]
	path = src/wreadinput
	url = git@github.com:WisconsinRobotics/wreadinput.git
[submodule "src/wready"]
	path = src/wready
	url = git@github.com:WisconsinRobotics/wready.git
[submodule "src/wresponsecontrol"]
	path = src/wresponsecontrol
	url = git@github.com:WisconsinRobotics/wresponsecontrol.git
[submodule "src/wrplidar_ros"]
	path = src/wrplidar_ros
	url = git@github.com:WisconsinRobotics/wrplidar_ros.git
[submodule "src/wrevolution"]
	path = src/wrevolution
	url = git@github.com:WisconsinRobotics/wrevolution.git
