# ros build output
build/
devel/

# python env
/venv/

# ide
/.vscode/

# fetched external libs
# NOTE: these may be removed in the future, tbd
src/InertialSenseSDK
src/sick_scan
src/wreadinput
src/wready
src/wroboclaw
src/wrosout

*.pyc
src/arm/lib
