[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = ssh://git@github.com/Slamtec/rplidar_ros
[submodule "src/wroboclaw"]
	path = src/wroboclaw
	url = https://github.com/WisconsinRobotics/wroboclaw
[submodule "src/wreadinput"]
	path = src/wreadinput
	url = https://github.com/WisconsinRobotics/wreadinput
[submodule "src/wready"]
	path = src/wready
	url = https://github.com/WisconsinRobotics/wready
[submodule "src/wresponsecontrol"]
	path = src/wresponsecontrol
	url = https://github.com/WisconsinRobotics/wresponsecontrol
