<launch>
	<!-- TODO (@bennowotny) Re-enable mocking-->
	<node name="led_matrix" pkg="wr_led_matrix" type="led_matrix.py"> <!-- if="$(eval
		env('WROVER_HW') == 'REAL')"> -->
		<rosparam file="$(find wr_led_matrix)/config/led_matrix.yaml" />
	</node>

	<!-- <node name="led_matrix_mock" pkg="wr_led_matrix" type="led_matrix_mock.py"
		unless="$(eval env('WROVER_HW') == 'REAL')" /> -->
</launch>