body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.square {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgb(62, 62, 62);
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding: 20px;
    box-shadow: 2px 2px 20px #525252;
    /* display: grid; */
    overflow: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.launch-button {
    background-color: #000000;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: 500px;
    /* box-shadow: 0 3px #666; */
    
}

.launch-button:hover {
    background-color: #525252;

    animation: slideRight 0.3s ease-in-out forwards;
}

.launch-button:not(:hover) {
    animation: slideLeft 0.3s ease-in-out forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0);
    }
}


.launch-button:active {
    background-color: #525252;
    /* box-shadow: 0 0px #666; */
    transform: translateY(4px);
}

.clicked-button {
    background-color: #930000;
    /* font-size: 1.5rem; */
    /* margin-left: 10px; */
    content: "stop";
}

.diagnostic-input {
    width: 90%;
    height: 80%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 4px #000000; */
    background-color: rgb(42, 42, 42);
    color: white;
    resize: none;
    
}

#joystick1{
    width: 30%;
    height: 40%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 4px #000000; */
    background-color: rgb(42, 42, 42);
    color: white;
    resize: none;
}