body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.square {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgb(62, 62, 62);
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding: 20px;
    box-shadow: 2px 2px 20px #525252;
    /* display: grid; */
    overflow: hidden;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.launch-button {
    background-color: #000000;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: 500px;
    /* box-shadow: 0 3px #666; */
    
}

.launch-button:hover {
    background-color: #525252;

    animation: slideRight 0.3s ease-in-out forwards;
}

.launch-button:not(:hover) {
    animation: slideLeft 0.3s ease-in-out forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0);
    }
}


.launch-button:active {
    background-color: #525252;
    /* box-shadow: 0 0px #666; */
    transform: translateY(4px);
}

.clicked-button {
    background-color: #930000;
    /* font-size: 1.5rem; */
    /* margin-left: 10px; */
    content: "stop";
}

.diagnostic-input {
    width: 50%;
    height: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 4px #000000; */
    background-color: rgb(42, 42, 42);
    color: white;
    resize: none;
    
}

#controlContent{
    height: auto;
    width: auto;
    margin: 0;
    display: flex;

}

#mapimg{
    width: 40%;
    height: 40%;
    border: #000000 3px solid;
}

.square-heading {
    margin: 0;
}

.square-title {
    height: 10%;
}

#info-box {
    display: flex;
    padding: 0;
    margin: 0;
    height: 80%;
    padding-top: 10px;
}

#smallInfoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gpsBox{
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}

#voltage-div {
    /* background-color: rgb(42, 42, 42); */
    margin-left: 20px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10%;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: #000000 3px 3px 4px;
    background-image: linear-gradient(180deg, rgb(42, 42, 42) 60%, #00ff44 60%);
}

.gps{
    
    margin-left: 20px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: #000000 3px 3px 4px;
    background-color: rgb(42, 42, 42);
}

.infoLabel{
    margin-left: 20px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: #000000 3px 3px 4px;
}

#videoBox{
    height: 40%;
    width: 60%;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px #000000;
    color: white;
    resize: none;
}

#joystick{
    width: 30%;
    margin: 10px;
    margin-right: 60px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 4px #000000; */
    background-color: rgb(42, 42, 42);
    color: white;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joystickBase{
    width: 100px;
    height: 100px;
    background-color: #888888;
    border-radius: 50%;
    
}

#joystickHandle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    user-select: none;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 25px;
    color: #000000;
    font-size: medium;
    cursor: grab;
}
