<!--Launches the logic for Freefal's AI. It is probably incomplete, please check -->
<launch>
  <node pkg="wr_logic_longrange" name="obstacle_avoidance" type="obstacle_avoidance.py" output="screen" />

 <!--  <node pkg="wr_logic_ai" name="play_navigation" type="play_navigation.py" output="screen"/> -->
</launch>
