<!-- Launches the real hardware interface for the roboclaws. -->
<launch>
  <arg name="use_encoders" default="false"/>

  <group ns="hsi">
    <group ns="drive_system">
      <node name="ds_roboclaw" pkg="wroboclaw" type="claw_driver.py" machine="wrover">
        <rosparam file="$(find wr_hsi_roboclaw)/config/roboclaw_enc.yaml" if="$(arg use_encoders)"/>
        <rosparam file="$(find wr_hsi_roboclaw)/config/roboclaw_noenc.yaml" unless="$(arg use_encoders)"/>
      </node>
    </group>
  </group>
</launch>
