<launch>
    <!-- <arg name="debug" default="false"/> -->
    
    <include file="$(find wr_entry_point)/launch/comp/comp_init.launch" />

    <!-- TODO (@Tzancc): undo commenting to bring back IMU sensors -->
    <!-- and work on reformatting this module as well so things aren't just "test" -->
    <node name="imu" type="BNO085_IMU" pkg="wr_hsi_sensing" output="screen" />
    <!-- <node name="gps" type="gps_testing.py" pkg="wr_hsi_sensing" /> -->
</launch>
