<launch>
  <!-- Launches mapviz visualization. -->
  <!-- Requires ardusimple_provided node to be running -->
  <!-- <include file="$(find wr_hsi_sensing)/launch/ardusimple_provided.launch" /> -->

  <node pkg="mapviz" type="mapviz" name="mapviz">
    <!-- <param name="config" value=""/> -->
  </node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/> <!-- Could be "/map"-->
    <param name="local_xy_origin" value="auto"/>
    <param name="local_xy_navsatfix_topic" value="/gps/fix"/>
    <remap from="fix" to="/gps/fix"/>
    <!-- <remap from="fix" to="/navsat/fix"/> -->
    
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />
  
</launch>