<!-- Test robot configuration that runs only the arm and manipulator. -->
<launch>
  <env name="WROVER_LOCAL" value="true"/>
  <env name="WROVER_MODE" value="TEST"/>
  <env name="WROVER_HW" value="REAL"/>


  <include file="$(find wr_entry_point)/launch/comp/comp_init.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_roboclaw.launch">
    <arg name="use_encoders" value="true"/>
  </include>

  <include file="$(find wr_hci_hid)/launch/teleop_arm.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_ui.launch"/>
  
  <!-- <include file="$(find wr_entry_point)/launch/comp/comp_arm.launch"/> -->
  
  <include file="$(find wroboarm_22)/launch/demo_test.launch"/>
  

  <node name="arm_driver" pkg="wr_logic_teleop_arm" type="ArmTeleopLogic" />
  
  <include file="$(find wr_control_drive_arm)/launch/std.launch" />
</launch>
