<!-- Test robot configuration that runs only the drive system. -->
<launch>
  <env name="WROVER_MODE" value="TEST"/>

  <include file="$(find wr_entry_point)/launch/comp/comp_init.launch"/>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_roboclaw.launch">
    <arg name="use_encoders" value="false"/>
  </include>
  
  <include file="$(find wr_entry_point)/launch/comp/comp_ds_control.launch"/>
  <include file="$(find wr_entry_point)/launch/comp/comp_ds_teleop.launch"/>
</launch>
