<!-- Launches the nodes that provide operator control over the arm and manipulator. -->
<launch>
  <group ns="hci">
    <group ns="arm">
      <node name="teleop_input" pkg="wreadinput" type="input_xbox360.py" machine="base_station">
        <param name="name" value="Arm Drive"/>
        <param name="namespace" value="/hci/arm/gamepad"/>
      </node>
    </group>
  </group>
  <group ns="logic">
    <group ns="arm">
      <!-- TODO: arm logic -->
    </group>
  </group>
  <group ns="control">
    <group ns="arm">
      <!-- TODO: arm control systems -->
    </group>
  </group>
</launch>
