<!-- Launches node providing teleoperation for the drive system. -->
<launch>
  <group ns="hci">
    <group ns="drive_system">
      <node name="teleop_joystick_left" pkg="wreadinput" type="input_logx3dpro.py" machine="base_station">
        <param name="name" value="Teleop Drive: Left Joystick"/>
        <param name="namespace" value="/logic/drive_system/joystick_left"/>
      </node>
      <node name="teleop_joystick_right" pkg="wreadinput" type="input_logx3dpro.py" machine="base_station">
        <param name="name" value="Teleop Drive: Right Joystick"/>
        <param name="namespace" value="/logic/drive_system/joystick_right"/>
      </node>
    </group>
  </group>
  <group ns="logic">
    <group ns="drive_system">
      <node name="teleop_drive" pkg="wr_logic_teleop_ds" type="TeleopDriveTrainLogic" machine="wrover"/>
    </group>
  </group>
</launch>
