<!-- Launches the nodes that provide operator control over the arm and manipulator. -->
<launch>
  <group ns="hci">
    <group ns="science">
      <node name="teleop_input" pkg="wreadinput" type="input_xbox360.py" machine="base_station">
        <param name="name" value="Science Drive"/>
        <param name="namespace" value="/hci/science/gamepad"/>
      </node>
    </group>
  </group>
  <group ns="logic">
    <group ns="science">
      <!-- TODO: science logic -->
    </group>
  </group>
  <group ns="control">
    <group ns="science">
      <!-- TODO: science control systems -->
    </group>
  </group>
  <group ns="hsi">
    <group ns="science">
      <!-- TODO: science drivers -->
    </group>
  </group>
</launch>
